[2021-09-01 06:49] zhoudreames opened #1 "install problem"
there are error show you blow when using code `pip install deepconsensus==0.1.0`
![image](https://user-images.githubusercontent.com/54714639/131625131-9a8b0635-c7f2-4379-bae6-1dbb068d0a96.png)

[2021-09-01 06:50] zhoudreames commented on #1
![image](https://user-images.githubusercontent.com/54714639/131625225-264ccb7a-6336-4384-a214-1fc6ee8a62ea.png)

[2021-09-01 07:04] armintoepfer commented on #1
Hey there, looks like it requires a specific python version
From: https://pypi.org/project/deepconsensus/

[2021-09-01 07:25] zhoudreames commented on #1
thanks~

[2021-09-01 07:25] #1 closed

[2021-09-01 12:06] sjin09 opened #2 "pip install deepconsensus==0.1.0 fails..."
Hello,

I don't have sudo privileges on my server and I would love to try using deepconsensus. I have attempting installing deepconsensus through the recommended method.

The following commands:

[code]

returns

[code]

The server details are as follows:
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https

[2021-09-01 12:21] armintoepfer commented on #2
Please see https://github.com/google/deepconsensus/issues/1

[2021-09-01 12:38] sjin09 commented on #2
[code]

[2021-09-01 12:38] #2 closed

[2021-09-02 01:58] zhoudreames opened #3 "pbmm2 using too much memory"
my machine is down when i using pbmm2 aligning,my machine memory is 500G,and the hifi data 130G.how to solve it ?

[2021-09-02 03:43] armintoepfer commented on #3
You can't use a full chip worth of Hifi reads as references. DeepConsensus is in the proof of concept stage, not meant for production yet. You can try this new tool, but there's no official support for it yet: https://github.com/PacificBiosciences/align-clr-to-ccs

[2021-09-02 06:09] AndrewCarroll commented on #3
Hi @zhoudreames

As @armintoepfer indicates, DeepConsensus isn't yet scalable to run a full SMRT cell on an external machine. The v0.1 release still uses many systems that are efficient within Google's distributed systems, but are very inefficient when run on a single machine. We plan to improve this in future releases, but for now, it will be too slow for a full SMRT cell. If there is something y

[2021-09-02 06:09] #3 closed

[2021-09-02 06:29] zhoudreames commented on #3
thanks for your help

[2021-09-02 06:33] zhoudreames commented on #3
when will the next version releases ? How much do I need to split reads for the 500G menmory ？ thanks~

[2021-09-02 10:54] sjin09 opened #4 "Two alignments from the same subread to the CCS read"
Hello,

I was exploring the test dataset and the alignment before applying deepConsensus on my dataset. I noticed that m64014_181209_091052/3146438/0_11098 subread was aligned both in the forward and reverse direction to the m64014_181209_091052/3146438/ccs.

I would assume that both alignments will be used for the consensus calling by deepconsenus, which I believe should not be the case. Or does

[2021-09-02 12:48] gevro opened #5 "Workflow questions"
Hi, Thanks for a great tool. A few basic workflow questions:

1) Why do you use pbmm2 to align subreads to ccs, instead of just using the subreads BAM together with the CCS BAM files made by pbccs, and matching them using read names?

2) Can deepconsensus output BAM files instead of FASTQ?

[2021-09-02 14:40] danielecook commented on #4
[code]

Actually it looks like the second alignment is a supplementary alignment ([explain flags](https://broadinstitute.github.io/picard/explain-flags.html)).

Due to the way we perform alignments, it is possible for subreads to align multiple times to the same CCS read (a primary alignment + supplementary alignments). We take the first alignment and discard the rest.

https://github.com/google/d

[2021-09-02 14:43] #4 closed

[2021-09-02 18:22] AndrewCarroll commented on #5
Hi @gevro

Thank you for your questions.

For #1 (pbmm2 for ccs mapping), we need the alignment of the subread to be performed relative to the CCS molecule. This is required so that insertions and deletions present in the subread relative to the final consensus can be accounted for, so that by the end of the molecule there aren't large differences in the relative positions between the subreads. We

[2021-09-02 19:08] gevro commented on #5
Thanks. For #2, I meant the former. Most other PacBio tools work with unmapped BAM rather than fastq. So it would be good to stay consistent with that.

Also, is there a way to contact you/deepconsensus team via direct message with some other ideas?

[2021-09-03 11:00] sjin09 commented on #4
I find instances where the supplementary alignment occurs before the primary alignment and the deepconsensus internal filter subsequently would used the supplementary alignment instead of the primary alignment for the consensus calling.

The attached image shows that the supplementary alignment for subread m64089_200122_110840/198615/5556_21349 before the primary alignment.

![Screenshot 2021-09-0

[2021-09-03 12:09] sjin09 opened #6 "parallelizing consensus calling"
Hello,

Is it correct that deepConsensus currently only supports single thread execution at the moment?

I couldn't find a flag for threads `python3 -m deepconsensus.scripts.run_deepconsensus --helpfull` from the help section or from the https://github.com/google/deepconsensus/tree/main/deepconsensus.

Regards,
Sangjin

[2021-09-03 12:32] #6 closed

[2021-09-03 16:56] MariaNattestad commented on #4
We were just looking into this, and it looks like supplying `--best-n 1` to the `pbmm2 align` command makes it output only the primary alignment. The most important thing though is that we keep the alignment to the correct ZMW, so we are still investigating the downstream effects of changes to the alignment and filtering process.

[2021-09-03 20:48] AndrewCarroll commented on #5
Hi @gevro,

Writing unmapped BAM is a very reasonable request. I'll see how much work it will be to accommodate that.

We would welcome thoughts on DeepConsensus. For now, you can email awcarroll@google.com, and I'll confer with the broader team on how to include them in the conversation.

[2021-09-03 20:48] #5 closed

[2021-09-04 08:33] AllanSSX opened #7 "pbccs parameters"
Hello,

In the online methods, you indicate that you didn't apply any filtering based on read quality for the CCS reads, and reads of qualities were included in the training dataset from pbccs output. Can you indicate the exact command line you used to generate ccs file?

Regards,
Alex

[2021-09-04 08:37] armintoepfer commented on #7
Hey Alex,

`--all` is sufficient.

Armin

[2021-09-04 09:09] guosongjia opened #8 "error in 1_merge_datasets step"
Dear all,\
I'm a PhD student working with a series of Pacbio CCS reads and I noticed the release of the preprint paper of the  `deepconsensus`. This tool can improve the correctness of CCS reads generated from `pbccs`. I installed it on our lab server and met with the following error when using it:
[code]
My `ccs.fasta` file s about 800Mb, my `subreads_to_ccs.bam` file is 8.9Gb, and my `subreads.b

[2021-09-06 22:21] flowers9 opened #9 "Quick start example code question"
In the quick start guide, you've got this code:

[code]

It seems to be checking to make sure subreads are aligned against the corresponding ccs read and that it has a quality start tag that matches the start position from the name.  However, at least for my version of pbmm2 (1.5.0), all that seems to already be true, meaning this code doesn't seem to do anything.  And it's really slow, too - for

[2021-09-07 16:33] flowers9 commented on #9
Nevermind.  Found a slight coding error in the test code (and tons of read alignments that were actually screened out).

Sorry for any confusion!

[2021-09-07 16:33] #9 closed

[2021-09-07 19:59] danielecook commented on #7
Yep - we used `--all` with `ccs`.

[2021-09-07 19:59] #7 closed

[2021-09-07 20:49] flowers9 commented on #9
That said, you still shouldn't need to add the qs tag, and it's still dog slow.  A very simple c++ program can do this 6x faster, at least on my test case:

[deepconsensus_helper.cc.txt](https://github.com/google/deepconsensus/files/7124268/deepconsensus_helper.cc.txt)

This was compiled against and linked to PacBio's pbbam tools.  It's certainly possible it could be cleaned up a bit.

[2021-09-08 02:58] flowers9 commented on #9
That said, it still seems unnecessary to add the qs tag, and it's quite slow.  A simple c++ program, compiled and linked against the pacbio Bam library runs nearly 6x as fast on my test case of a 1.2 TB aligned subreads bam (and using the default 4 threads for compression, as per the library).

[deepconsensus_helper.cc.txt](https://github.com/google/deepconsensus/files/7125443/deepconsensus_helper

[2021-09-08 04:06] danielecook commented on #9
@flowers9 thank you for your suggestions. We are actively exploring ways to speed up processing, including through the use of the pbbam and pbcore.io libraries. The qs tag appears to be redundant as you suggest, but my concern there is that other tools and scripts may use it. I would have to investigate further whether it makes sense to remove it.

We are working on an alternative solutions that o

[2021-09-08 04:59] flowers9 commented on #9
Yeah, that would be the obvious win.

I meant that it doesn't seem necessary to add the qs tag not because it's redundant but because it's already present - even your example data set has it in the aligned.subreads.bam file, before the filter step.

[2021-09-08 05:40] gunjanbaid commented on #8
@guosongjia I am not sure what the issue is from looking at the above stacktrace. Could you run the command that failed directly? This might show a more detailed error message.

[code]

[2021-09-11 08:46] AndrewCarroll commented on #3
Hi @zhoudreames

I cannot give you an estimate for when the next version will be ready. With a fair amount of certainty, I will say likely more than 1 month from now and less than 6 months.

The changes in the next release will probably change the memory use, and I cannot now give you an estimate of memory at that time.

[2021-09-12 05:02] guosongjia commented on #8
@gunjanbaid
Thanks for your reply~\
I have tried several times after submitting this issue but all failed. I feel this error may be caused by the lack of memory.\
I run this program on our bioinformatic server which has about 640Gb MEM. I keep tracking the MEM usage of the software in `top` page and found that `1_merge_datasets` was unable to finish until it occupied about 620Gb MEM. Our server ad

[2021-09-12 05:05] #8 closed

[2021-09-17 17:23] gunjanbaid commented on #8
Hi @guosongjia, definitely, the team is working on improving usability of the software. We hope to have a solution that works for you soon.

[2021-09-23 08:22] MartinPippel opened #10 "run issue"
I have some issues to run deepconsensus on our Centos 7 linux cluster. Any advice would be highly appreciated.

[code]

**I also got the following two errors during the installation:**

[code]

Thanks,
 Martin

[2021-09-24 05:44] pichuan commented on #10
Thank you for reporting this.
To be honest we have not tested on CentOS 7. I just tested and also wasn't able to get it to work, but the error I'm getting is different:

[code]

I also just try testing nucleus 0.5.8, which I suspect also didn't work on CentOS7.

We'll have to think about what to do with this. I'll keep this open for now.

[2021-09-24 08:16] MartinPippel commented on #10
Thanks for your reply. I also got your problem. And after installing bzip2 in my conda environment this error was gone.

[2021-09-28 18:48] pichuan commented on #10
Hi @MartinPippel ,
I can confirm that I was able to get around the libbz2 issue, by doing something a bit hacky like:
[code]

After that, I'm also seeing: "`GLIBC_2.23' not found".

Actually, this reminded me that this is probably part of Nucleus - I tested Nucleus 0.5.8 (which DeepConsensus builds on), and we have the same issue. CentOS7 has an older GLIBC, and that's why we're having the issue.

[2021-09-28 18:48] #10 closed

[2021-10-05 21:50] maximilianpress commented on #10
I am experiencing the same issue on CentOS7, Python 3.6.9, conda etc. All of the notable details appear to be the same (including bzip2 sub-issue).

[2021-10-09 08:47] xuzaoxu opened #11 "Nofound model for Quick start"
I followed  "Quick start for DeepConsensus", downloaded test data. However, when I run commend:
gsutil cp gs://brain-genomics-public/research/deepconsensus/models/v0.1/* "${MODEL_DIR}"/
There is no no matches found.

I also wonder what does "checkpoint-50" mean for "python3 -m deepconsensus.scripts.run_deepconsensus". How to get  checkpoint file if I want to run my own data?

[2021-10-09 12:09] #11 closed

[2021-10-09 14:01] hzhang-2021 commented on #10
I think this is because the google-nucleus binary by pip was built under /lib64/libm.so.6: version 'GLIBC_2.23'.
the default centos7 only have /lib64/libm.so.6: version 'GLIBC_2.17'.
you have to recompile all that package from source.... that is very difficult job.

[2021-11-15 21:38] maximilianpress opened #12 "Support FOFN original subread input, document CLI"
## Behavior I expected

Accept FOFN input for subreads (`--input_subreads_unaligned=subreads.fofn`).

Very frequently PacBio subread data is spread across directories and files according to flow cell and run architecture. This is the standard format in which PacBio reads are delivered to customers by service providers. The solution to this is the FOFN format (see for example [PBMM2 documentation](

[2021-11-15 22:10] MariaNattestad commented on #12
Thank you for this feature request.

DeepConsensus is still at a proof-of-concept stage, but we are working on making it more scalable and easy to use outside of Google's internal infrastructure. I'll log this as a feature request in the meantime. Thanks!

[2021-11-16 07:24] zhoudreames opened #13 "deepconsensus.scripts.run_deepconsensus errors"
i got some errors show in blow when i run  python3 -m   deepconsensus.scripts.run_deepconsensus  --input_subreads_aligned=P05TYD21354128-1_r64114_20210126_052631_1_A02.subreads_to_ccs.bam   --input_subreads_unaligned=DRC_chr3_20Mb_rmTail.P05TYD21354128-1_r64114_20210126_052631_1_A02.bam   --input_ccs_fasta=P05TYD21354128-1_r64114_20210126_052631_1_A02.ccs.fasta   --output_directory=1.tmp   --check

[2021-11-16 21:19] danielecook commented on #13
@zhoudreames can you try installing bzip2 in the conda env you are using?

Something like this...

`conda install -c conda-forge -c bioconda bzip2`

[2021-12-03 08:34] MartinPippel opened #14 "How to improve run time?"
I tried to solve my issue [#10 ](https://github.com/google/deepconsensus/issues/10) by creating a Singularity container and it seems to work on our compute cluster. However it is very slow. Do you have any advice how to speed up the deepconsenus step?

I created a toy data set, with the following specs:

[code]
I started deepconsensus (on a 24 core machine, 250Gb RAM) with the default args:

[code

[2021-12-03 17:06] danielecook commented on #14
The current release of DeepConsensus (v0.1.0) is a proof-of-principle version. In the near future we are planning on a new release (v0.2.0) which should greatly speed up DeepConsensus.

[2021-12-09 12:54] #14 closed

[2022-01-06 09:42] AMMMachado opened #15 "Docker or Singularity"
Hi,

First of all thank you for this amazing program.
I'm working in a cluster with the centos7. I tried to install the software several times, always with errors in the pip/Python distributions. Could you make available some docker and/or singularity for the deep consensus?
Best Regards
Andre

[2022-01-06 19:26] MariaNattestad commented on #15
Hi Andre,

Yes, we are currently working on a version of DeepConsensus which will be easier to install with pip, and this new version will also include a docker image that should work with singularity as well.

Maria

[2022-01-08 03:23] gevro commented on #15
Great to hear! Is there an estimate for when this might be available?

[2022-01-08 14:37] AMMMachado commented on #15
Thank you @MariaNattestad . Currently, we are performing several genome assemblies, and we intend to include deepconsensus in our PcabioHifi pipeline. Do you have some time estimation for the next stable release?

André

[2022-01-10 18:30] MariaNattestad commented on #15
We're hoping to have a release ready by the end of January, assuming all goes well :)

[2022-01-18 23:59] MariaNattestad commented on #15
The release is now available! https://github.com/google/deepconsensus/releases/tag/v0.2.0

[2022-01-19 09:31] jelber2 opened #16 "deepconsensus-0.2.0 complains that subreads_to_ccs.bam is not indexed"
Following the tutorial,
https://github.com/google/deepconsensus/blob/f1413ee0802dd09fb5a4507983314935e32ab482/docs/quick_start.md?plain=1#L95 , deepconsensus-0.2.0 complains that it cannot find the index for subreads_to_ccs.bam . Sorting with samtools sort and then samtools index fixes the warning, but is it necessary?

[2022-01-21 14:57] jelber2 opened #17 "deepconsensus-0.2.0 uses a lot of system RAM, so maybe best to split jobs into pieces, example provided"
Maybe someone finds this useful to break up deepconsensus jobs (pretty much following the the quick start guide) except sorting the BAM file with samtools then indexing with samtools followed by breaking the job input files into 48 parts. If one has access to a cluster, then this is very helpful to submit deepconsensus on one GPU and one CPU core to keep system RAM usage low. I had found that deep

[2022-01-21 18:41] MariaNattestad commented on #17
Parallelizing DeepConsensus is actually easier than that. We plan to write a full guide, but here is a short summary:
There is a `--chunk` option in *ccs* as mentioned in the quick start, which will produce sharded outputs -- we usually do 500 shards for a full SMRT-cell. There is no need to `samtools sort` any of the bam files since they are already in sorted order by ZMW. This order MUST be the

[2022-01-22 02:02] MariaNattestad commented on #16
Sorry we didn't answer this issue sooner. No, you do not need to sort and index any bam files, and in fact I would not recommend it because DeepConsensus assumes that the inputs are in the original order that ccs and actc output. Changing that order by sorting might cause some data to be skipped during processing. We'll take a look and see if it's possible to turn off that warning, which I'm guess

[2022-01-23 20:44] MartinPippel opened #18 "general performance question and --cpu flag is not working"
Hi Developers,

first thanks for the great tool. It really improves the reads and the assemblies as well.

However the compute requirements are still challenging. We do have a Intel(R) Xeon(R) CPU E5-2680 v3 nodes with 24 cores.
By default the cpu version requests 23 cores, but it never achieves the 23 threads. On average the jobs run with 12-16 threads in total, because many threads are stalling

[2022-01-24 07:26] jelber2 commented on #16
Ok thank you! I have not noticed anything with data being skipped, but maybe I was not looking carefully enough.

[2022-01-24 07:26] #16 closed

[2022-01-24 07:27] jelber2 commented on #17
Ok, I will try the --chunk option without `samtools sort` now.

[2022-01-24 07:27] #17 closed

[2022-01-24 09:55] AMMMachado opened #19 "Error (ccs software) - No space left on device (tmp file)."
Dear @pichuan,

Using the docker system, I  installed and run the tests successfully on the second version of the software in our cluster.
Now, during the tests with real data, we found some issues in the ccs software.
Usually, we run the software in the nodes, and the output it's printed in the front-end.
The front-end has more than 1PB of space, while the nodes only have +-60gb.
The tmp files se

[2022-01-25 18:09] AhmedArslan opened #20 "BrokenPipeError: [Errno 32] Broken pipe"
$time deepconsensus run --subreads_to_ccs=aligned.subreads_to_ccs.bam --ccs_fasta=HiFiCCS.fasta --checkpoint=/home/models/checkpoint-50 --output=./dc/out.fastq --batch_zmws=100 --cpus=18 >& report.log

2022-01-21 12:09:55.926395: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instruc

[2022-01-25 18:10] AhmedArslan commented on #18
Regarding the --cpus use, I have the same observation.

[2022-01-25 19:06] MariaNattestad commented on #18
Thanks for the observation and sorry this isn't working as expected.
The explanation is that `--cpus` only affects the number of processes used by the preprocessing step, while the TensorFlow step that runs the model just takes all the CPUs available. You can see this if you set the `--batch_zmws` very high and count processes while it's still doing the preprocessing on the first batch, which shou

[2022-01-26 07:21] pichuan commented on #19
Hi @AMMMachado , given that the question is about ccs, maybe looking at [ccs.how](https://ccs.how/) could be helpful.
I'll also tag @armintoepfer to see if have some advice.

And, for the `ccs` step, I wonder if it'll be helpful if you try out the `--chunk` option.

[2022-01-26 08:05] armintoepfer commented on #19
You should set your `TMPDIR` correctly. It's the canonical env variable in Linux and POSIX.

[2022-01-29 11:28] peterdfields opened #21 "params.json and checkpoint sample files"
Hi,

I'm interested in running deepconcensus on a couple of different HiFi projects. I'm able to setup and run the sample datasets on CPU and GPU. The problem arises when I try to run my own datasets, in that the guidelines for deepconcensus do not describe how to create the param.json or checkpoint files which are needed for running `deepconcensus run`. I might be missing something though. Please

[2022-01-30 07:31] peterdfields commented on #21
My mistake, I see this point was covered in https://github.com/google/deepconsensus/issues/11.

[2022-01-30 07:31] #21 closed

[2022-02-04 12:08] AMMMachado commented on #19
Hi @picchuan and @armintoepfer,

Thank you for the help. After setting the TMPDIR correctly this problem with ccs was solved.
In the next step with actc, we found another issue.
Basically, the program ends with no output.
I have re-checked the pbi file with pbindex and all seems ok.
Can it be a memory issue?
Using the --log-level DEBUG and --log-file parameters we obtained :
....
| 20220201 18:59:

[2022-02-04 17:36] pichuan commented on #19
Hi @AMMMachado ,

Can you try again with the latest version of actc?

https://twitter.com/XLR/status/1488174497836511238
https://github.com/PacificBiosciences/actc

[2022-02-05 00:41] #15 closed

[2022-02-05 00:42] pichuan commented on #13
Hi @zhoudreames , we've made a release in January that cleaned up a code quite a bit.
And it now includes a Docker solution as well. If you're still encountering issues, please feel free to report again!

[2022-02-05 00:42] #13 closed

[2022-02-05 00:45] pichuan commented on #12
Hi @maximilianpress ,
We've made a release in January that cleaned up a code quite a bit, and we also no longer use pbmm2.
I'm going to close this issue now. But feel free to open another one if you encounter any issues with the latest release.

[2022-02-05 00:45] #12 closed

[2022-02-05 02:37] zhangrengang opened #22 "DeepConsensus model is not accessed from China"
Hi, I am a user from China and I can not access the model via gsutil. Would you please also place the model in github? The model should be small files?

[2022-02-05 03:10] pichuan commented on #22
@zhangrengang Can you try if you can wget these files:

https://storage.googleapis.com/brain-genomics-public/research/deepconsensus/models/v0.2/params.json
https://storage.googleapis.com/brain-genomics-public/research/deepconsensus/models/v0.2/checkpoint-50.index
https://storage.googleapis.com/brain-genomics-public/research/deepconsensus/models/v0.2/checkpoint-50.data-00000-of-00001

[2022-02-05 03:21] zhangrengang commented on #22
Thanks, I can download them.

[2022-02-05 03:31] #22 closed

[2022-02-10 11:35] AMMMachado commented on #19
Hi @pichuan,

Thank you.
The new version of actc worked like a charm.

Regarding the --chunks option.
For a *.subreads.bam dataset with 300gb the ccs and actc run in 24h, 32 CPUs 64GB ram with no chunks.
The "deepconsensus run" with the defaults in 24h, 32 CPUs 64GB ram produced only 38mb of hifi.fq data.
For both ccs and actc software, how should we use the chunk parameter?
Should we use produce

[2022-02-15 12:20] AMMMachado commented on #19
Hi @pichuan,

State point.
In the last few days, we have optimized the software for our cluster.
The chunks are no longer a problem, and all modules are working perfectly.
We did 1000 shards for each full SMRT-cell, to use the maximum of our capacity.
Right now the only bottleneck is the deep consensus runtime and our limited capacity.
"Processed 1000 ZMWs in 4693.153982400894 seconds".
Do you hav

[2022-02-16 01:32] pichuan commented on #19
Thanks @AMMMachado for the update.
Adding @MariaNattestad to give some advice on your latest number.

[2022-02-16 18:53] MariaNattestad commented on #19
Hi @AMMMachado

The runtime you are reporting above is definitely higher than expected. See the [runtime metrics page](https://github.com/google/deepconsensus/blob/r0.2/docs/runtime_metrics.md) for runtimes we observed on different hardware configurations on GCP.

1. This could be affected by factors like read length, though, so one thing you can try is to run the [quick start](https://github.com/

[2022-02-16 22:16] chenxf611 opened #23 "General performance question"
Hi,

This is a great tool and we really want to put it into our production. However, after I tried out a small-scale run, the main issue was time-consuming to run deepconsensus itself (the last step). It took 616 seconds to run only 1000 ZMWs.  I used one V100 GPU with 32G memory and 16 CPUs on our HPC system, I don't know how much time is needed to finish one regular SMRTCell and generate HiFi re

[2022-02-17 18:06] AndrewCarroll commented on #23
Hi @chenxf611

In our benchmarks with a 16-core CPU instance with a P100 GPU, we observe a rate of 2.93 ZMW/second for 11kb HiFi read length reads. This isn't far from your 1.622 ZMW/second, and the difference can potentially be explained by a different GPU and/or different read lengths.

So it does not look like you are doing anything out of the ordinary which is making your results slower. When

[2022-03-02 18:52] MariaNattestad commented on #17
Update: I just released a major change to the DeepConsensus quick start with detailed guidance for parallelization across multiple machines: https://github.com/google/deepconsensus/blob/r0.2/docs/quick_start.md

[2022-03-02 18:59] MariaNattestad commented on #19
Thanks for this context and sharing the runtime numbers for various machines. I'll take your suggestion and make a note to see if we can do some memory usage profiling and provide more guidance on that.

As an update since parallelization was mentioned in the thread above, I just released a major change to the DeepConsensus quick start with detailed guidance for parallelization across multiple mac

[2022-03-10 07:23] shengxinzhuan opened #24 "can deepconsensus run on an arm machine？"
hello，deepconsensus team!
Thanks for make an amazing job for hifi sequencing. It is useful to work on an x86 cpu or gpu machine.
However when I try to install it on an arm hpc, I was fail for installing the base requirements pacakage.
Do you have the plan to move the deepconsensus on the arm machine ?

[2022-03-10 07:25] pichuan commented on #24
@shengxinzhuan we have not tested it, but can you tell us what error messages you're getting? Which base requirements were failing?

[2022-03-10 07:29] shengxinzhuan commented on #24
@pichuan maybe I should try again for install these pacakges. If I success, I will share the experience. If I fail again, I will give back the message. Thanks!

[2022-03-10 11:45] shengxinzhuan commented on #24
@pichuan hello, I try again, but it fail because the intel-tensorflow do not found. Any pacakages can replace it? Looking for reply

[2022-03-11 04:22] pichuan commented on #24
@shengxinzhuan try use `tensorflow` instead of `intel-tensorflow`.

[2022-03-11 10:57] armintoepfer commented on #24
Quick note about data pre-processing, PacBio's released binaries for `pbmm2`, `actc`, and `ccs` only support x86. There are no fundamental reasons for not supporting ARM, except that there hasn't been demand so far. The bigger question, what is the minimum required ARM version to get sufficient performance.

[2022-03-28 09:10] shengxinzhuan opened #25 "An tutorial for running deepconsensus"
My computer hardware equipment look like this:
[code]

# Install the requirement packages

## Create an environment for deepconsensus using conda

[code]
## Download the ACTC for reads mapping

[code]

## Install the Deepconsensus[GPU] by using pip

[code]

# Prepare all the needed input file for Deepconsensus

## Get the ccs.bam

[code]

## Get the subreads_to_ccs.bam

### Tips

If you use the ac

[2022-03-28 18:14] MariaNattestad commented on #25
Hi thanks for sharing this! Was there anything you felt was missing from the [quick start](https://github.com/google/deepconsensus/blob/r0.2/docs/quick_start.md)? We recently updated this to include detailed parallelization instructions, showing how to run ccs with --chunk, so please take a look!

[2022-03-29 00:59] shengxinzhuan commented on #25
@MariaNattestad Hi, MariaNattestad! Thanks to reply! I know how to run ccs with --chunk. But in China, we always got the ccs.bam from the sequencing company. So I don't need to filter the ccs.bam again, and move --chunk in actc. By the way, the ccs with --chunk and without --chunk are spend the same time on my test. If we need to filter the ccs.bam by ourself, --chunk may be more recommanded cause

[2022-03-29 17:26] MariaNattestad commented on #25
Thanks for this context. I want to make sure to mention that in the quick start we do recommend running ccs yourself with `--all` so that DeepConsensus has the chance to rescue some reads that would have gotten filtered out as being below (usually) Q20 when ccs was run with default settings. Your yield above Q20 will often increase significantly if you are able to rerun ccs with `--all`.

[2022-03-30 01:19] shengxinzhuan commented on #25
@MariaNattestad Thanks to reply! I will try again if the reads depth do not satisficated to assembly an genome.

[2022-03-30 16:56] MariaNattestad commented on #25
@shengxinzhuan sounds good! I'll close this issue, but feel free to open a new one (so we get notified) if you have any new issues or questions. We want to understand the problems that our users face using DeepConsensus in practice!

[2022-03-30 16:56] #25 closed

[2022-03-31 01:45] shengxinzhuan commented on #25
@MariaNattestad  ok， I will open a new one if i meet new problem. Thanks!

[2022-06-08 08:17] jelber2 opened #27 "Training tutorial?"
Curious if there will be a tutorial (sorry if I missed it somewhere in repo) for training to make a custom DeepConsensus model for other than human PacBio HiFi reads? I tried DeepConsensus on Bacterial PacBio HiFi/CCS reads, and as expected, it does not perform as well as it does for Human.

[2022-06-08 13:38] danielecook commented on #27
@jelber2 there is currently no tutorial for performing training with DeepConsensus.

We are planning on releasing this functionality in the future.

If you can provide more insight in terms of the performance it could be helpful to us. We are actively experimenting with training datasets.

[2022-06-08 14:04] jelber2 commented on #27
Here is one example of performance, I did not use the --all setting when running `pbccs` https://github.com/PacificBiosciences/harmony/issues/1

[2022-06-10 05:51] AndrewCarroll commented on #27
Hi @jelber2

This is an interesting observation, thank you for bringing it up. So far, we've run DeepConsensus (trained on human) on several non-human species (multiple plants, frog and mouse) and have received reports from others on E.coli. In each case, we've still seen either direct (gap-compressed identity) or indirect evidence (better assembly and YAK values) that DeepConsensus is generalizin

[2022-06-10 15:22] MariaNattestad commented on #27
Looking at your [other issue](https://github.com/PacificBiosciences/harmony/issues/1), I think you might get better results on DeepConsensus by just following the DeepConsensus quick start more closely, like using `ccs --all` and just making sure that you're not manipulating the subreads in any way other than what is explicitly stated in our quick start.

[2022-06-28 13:51] abueg opened #28 "CPU installation on HPC, no sudo, no docker/singularity"
Hello! :wave:

I am trying to install DeepConsensus on an HPC environment (no GPU) without root permissions, and without Docker/Singularity access. I am approaching this by making a deepconsensus venv and trying to install with a modified install script. I have done the following steps:
1) `python3 -m venv $SCRATCH/venvs/deepconsensus_venv_1`
2) `source deepconsensus_venv_1/bin/activate`
3) `sourc

[2022-06-28 15:52] pichuan commented on #28
In this file:
https://github.com/google/deepconsensus/blob/r0.2/requirements.txt

Pin pysam:
[code]

See if that helps with the excpetion.

The index "error" : It shouldn't affect the run. You can ignore it.

Let us know if that works or not.

[2022-06-28 18:32] abueg commented on #28
Hi @pichuan, thank you for your response! I added the pysam pin to requirements.txt and re-installed into a new venv and tried run_all_tests.sh again, but it is giving the same exception.

install_edit.sh:
[code]

and here is the output from installation:
[code]

making sure the version of pysam in this venv:
[code]

I ran run_all_tests.sh again on a node using slurm, and the full output is in thi

[2022-06-29 02:03] pichuan commented on #28
Hi @abueg ,

Usually I tested with `pip install .[cpu]` and I usually didn't use venv.

I tested with venv, and used `pip install .[cpu]`, and I'm getting a different error:

[code]

I'll have to poke around a bit more to see if this is related to venv or not. I'll report back later.

[2022-06-29 03:11] pichuan commented on #28
Hi @abueg ,

two things here:

1. I still haven't been able to reproduce the errors you're having. Some of them are related to the underlying versions we have (for example, pysam). Our team is very close to making a next release (v0.3). Once that is out, I will let you know to retry this again.
2. I'm experiencing some issues when installing within venv (see my errors above). Although, given that

[2022-06-29 15:33] abueg commented on #28
Hi @pichuan , thanks for looking into this!

I tried `pip install .[cpu]` with a new venv and the installation seems to have worked, but then run_all_tests failed much more quickly, I'll put the output at the end of this message in case it is helpful.

That being said, it probably makes more sense for me to wait for the v0.3 release, so I'll just give it a shot when that is out, thank you for the

[2022-07-07 22:21] abueg commented on #28
Hi @pichuan , congratulations on the v0.3 release! 🎉

I did give installing with this new release a try (using same method as before with a venv for deepconsensus, and then a conda env for the pacbio dependencies etc), and it seems to have worked fine.

`run_all_tests` looked fine (all tests OK) outside of some warnings, but nothing errorred out. And I tried with the test data in the quick start d

[2022-07-07 22:30] pichuan commented on #28
Thank you for the update! Glad to hear that it works now!

[2022-07-07 22:31] #28 closed

[2022-07-08 08:32] AMMMachado opened #29 "Docker - tensorflow error"
Hi @MariaNattestad,

In the last months, I have used the deepconsensus v0.2.0 without problems.
Now I intend to move to the 0.3.0 version.
The docker image seems to work ok.
I downloaded the model directly from the git ./deepconsensus/testdata/model.

When I run the deepconsensus the process stop with the error below:

[code]

Can you help me with the error?

Best Regards
André

[2022-07-08 11:15] AMMMachado commented on #29
Hi again @MariaNattestad,

I found that if i use the model downloaded with link below, the program work perfectly.

`gsutil cp -r gs://brain-genomics-public/research/deepconsensus/models/v0.3/model_checkpoint/* "${QS_DIR}"/model/`

Should i use this model ?

If you confirm that, please Feel free to close this issue.

Best Regards
André

[2022-07-08 14:28] marcpaga opened #30 "Alignment loss function"
Thanks for the very interesting work.

I was wondering about the alignment loss used to train the model. It is clear that indels can shift the whole predicted sequence and then a loss like cross-entropy explodes by small mistakes. I thought a CTC loss would work in this scenario, but you developed a new alignment loss for this task. I was wondering if you could elaborate on why this alignment loss

[2022-07-08 15:34] kishwarshafin commented on #29
Hi @AMMMachado ,

Yes, the correct way to download the model is from the GCP bucket. As github has maximum size limitation, we don't have the full model of v0.3 available on github. I'll close this case as this has been resolved.

[2022-07-08 15:34] #29 closed

[2022-07-08 15:36] kishwarshafin commented on #23
Hi @chenxf611 ,

Please see this documentation available with v0.3 release that answers your questions about batch size vs performance: https://github.com/google/deepconsensus/blob/r0.3/docs/yield_metrics.md

With v0.3 you can also adjust the `--skip_windows_above` parameter for faster processing and pre-processing with `--min-rq 0.88` halves the amount of ZMWs needs to be processed. Hope this hel

[2022-07-08 16:12] kishwarshafin commented on #19
hi @AMMMachado ,

Please see the [runtime metrics page](https://github.com/google/deepconsensus/blob/r0.3/docs/runtime_metrics.md) for r0.3 with memory profiling included in the analysis. The `--skip-windows-above` parameter can help you adjust the desired runtime vs accuracy that you want to achieve. Please also see the change in processing step with `--min-rq 0.88` parameter that reduces the amo

[2022-07-08 18:45] kishwarshafin commented on #30
Hi @marcpaga ,

Thanks for opening this issue. There are several things to consider here:

* CTC-loss takes all possible alignments and then sums the alignment scores based on the predictions. In calculating distance between two genome sequences that are very similar, this is not ideal as suboptimal alignments can contribute heavily to the prediction. You can read in our [manuscript](https://www.b

[2022-07-08 18:58] kishwarshafin commented on #18
Hi @MartinPippel ,

Can you please try this with v0.3 to see if the issue is still there?

[2022-07-12 06:23] MartinPippel opened #31 "DeepConsensus 0.3 --min_quality has no default?"
Dear DeepConsensus developers,

thanks for the update. I really like the performance improvements of release 0.3.

Quick question: Why does the --min_quality flag is not set of 20?
Due to the great yield, it was a bit hard to detect that I got several reads with an error rate >> 2%.

I usually run DC (v03) only on reads that have 97%-99.9% consensus accuracy (for time reasons).
Without setting the

[2022-07-12 19:28] danielecook commented on #31
@MartinPippel thank you for sharing your results. The plot is nice.

We decided to change the `min-quality` default to output all reads by default. Users should set this value as needed for their use case.

I have [updated the release notes](https://github.com/google/deepconsensus/releases/tag/v0.3.0) to add an item detailing this change.

[2022-07-13 17:52] peterdfields opened #32 "Advice for dealing with barcode multiplexing"
Hi,

I'd like to use deepconsensus on a set of HiFi datasets that were generated on a Sequel II but with barcoded multiplexing. My understanding is that without running the CCS step first detecting barcodes can be difficult. Do you have a recommended pipeline for going from a barcoded subread bam file in order to generate the subset of necessary inputs for CCS/actc/deepconsensus? Thank you for you

[2022-07-13 22:43] kishwarshafin commented on #32
Hi @peterdfields ,

Given the fact that the de-multiplexing algorithm is designed to work with CCS reads and currently we don't have any benchmarking available to provide you more context if there would be any contamination introduced due to the use of DeepConsensus, our recommendation would be to first de-multiplex the CCS reads with Lima and then apply DeepConsensus to the de-multiplexed reads i

[2022-07-14 12:03] armintoepfer commented on #32
Linking the duplicate: https://github.com/PacificBiosciences/pbbioconda/issues/523

[2022-07-14 15:00] peterdfields commented on #32
Thank you @armintoepfer

[2022-07-14 15:00] #32 closed

[2022-07-17 09:02] #30 closed

[2022-07-19 04:16] danielecook commented on #31
@MartinPippel after discussing this issue we decided to revert the `--min-quality` flag to the original default value of 20. This update was just release (v0.3.1), and that is the only significant change in that release.

[2022-07-25 08:48] jelber2 commented on #27
I was able to get permission to share the data. @AndrewCarroll I sent you an email with links about a month ago, but I did not hear a response if you accessed the data.

[2022-07-25 18:14] AndrewCarroll commented on #27
Hi @jelber2

I do see the email in my inbox when I search for your name. I am not sure how I missed itt originally. I will download the data now and take a look.

[2022-07-26 11:43] jelber2 commented on #27
@AndrewCarroll , feel free to post any updates with running these data through DeepConsensus here. My guess is either I am doing something wrong or the data having come from a PacBio Sequel may be the issue.

[2022-07-27 07:43] jelber2 commented on #27
So, I ran deepconsensus-0.3.1-gpu using `pbccs-6.3.0 --min-rq=0.88`, then ran harmony-0.2.0 (https://github.com/PacificBiosciences/harmony/releases/tag/v0.2.0) as before. One can certainly see an improvement in the deepconsenus-0.3.1 corrected reads (ccs.rq.deepcon-0.3.1) relative to the deepconsensus-0.2.0 reads (ccs.all.deepcon and ccs.notall.deepcon) and ccs reads (ccs.all, ccs.notall, ccs.rq).

[2022-07-27 16:11] pichuan commented on #23
Hi @chenxf611 ,
I'll close this issue now. But feel free to reopen (or open a new one) if you have more quesions.

[2022-07-27 16:11] #23 closed

[2022-07-27 16:14] pichuan commented on #19
Hi @AMMMachado ,
I'll close this issue now. Please feel free to reach out if you have more questions.

[2022-07-27 16:14] #19 closed

[2022-07-27 16:15] pichuan commented on #18
Hi @MartinPippel and @AhmedArslan ,
If you still have the issue with the latest version (v0.3.1), please feel free to reach out again! I'll close this issue now.

[2022-07-27 16:15] #18 closed

[2022-07-27 16:19] pichuan commented on #20
Hi @AhmedArslan ,
This issue should now be fixed. If you're still seeing it our latest version (v0.3.1), please feel free to reach out again!

[2022-07-27 16:19] #20 closed

[2022-07-27 22:45] AndrewCarroll commented on #27
Hi @jelber2

I was able to run DeepConsensus v0.3.1 on your data, and everything seems to have run smoothly. Although I don't have the empirical quality calculations relative to the reference, I can use the predicted quality values from pbccs and DeepConsensus. These values are roughly in-line with expectations from datasets. I see a ~12% increase in the number of reads at >Q20 for DeepConsensus r

[2022-07-28 12:03] jelber2 commented on #27
So if I use just the 'notall' reads (.na) from deepconsensus-0.31 and remake the curves, I get something very similar to original
![ccs-deepcon](https://user-images.githubusercontent.com/5951978/181500303-f4b30000-1c88-4ebb-a33f-3fd56640c417.png)
l

[2022-08-01 11:57] gevro opened #34 "Chunking with deepconsensus"
Hi,
Is there a way to do chunking with deepconsensus? For datasets where ccs was previously run and then chunks were merged, it would help, because then deepconsensus can do some form of chunking rather than having to redo ccs chunking back on the original subreads.

[2022-08-01 13:38] gevro opened #35 "Error: model/params.json not found"
Hi,
I'm running the below and getting this error:
[code]

[2022-08-01 15:23] gevro commented on #35
Nevermind. I saw that in the quick start there is a separate step to download the model.

[2022-08-01 16:02] gevro opened #36 "Error: ValueError: Shapes (2640, 280) and (560, 280) are incompatible"
Hi,
I'm getting the below error:
[code]

[2022-08-01 16:34] kishwarshafin commented on #36
@gevro ,

Can you please confirm that you are not useing r0.2 models with r0.3 codebase? This looks like you are using an older model with newer release.

[2022-08-01 16:38] kishwarshafin commented on #34
hi @gevro ,

Can you please expand more on the question?

If you are asking about the chunking schema, currently DeepConsensus chunks each CCS by window of a defined length and then merges again. The CCS run that happens upstream of DeepConsensus does not preserve chunking information to use downstream.

[2022-08-01 16:48] gevro commented on #36
I am using r0.3.1 docker and I downloaded model from the link in the quick start:
gsutil cp -r gs://brain-genomics-public/research/deepconsensus/models/v0.3/model_checkpoint/*

Is that not correct?

Thanks.

[2022-08-01 16:50] gevro commented on #34
What I mean is that the current workflow is to run ccs with chunking, which splits the data into shards and then you can run actc and deepconsensus on each shard in parallel.

However, many users have samples that were already run through ccs, and we have a final hifi ccs BAM file. It would be nice to be able to have deepconsensus have an option to split the input ccs BAM into shards, similar to h

[2022-08-01 17:11] danielecook commented on #34
@gevro, we recommend running ccs with the `--min-rq=0.88` flag. Running `ccs` in its default configuration will filter reads that could be salvaged by DeepConsensus.

Here is a snippet you can use to split manually (let me know if you have a better method for doing so!). This should work with both subread and ccs bams.

[code]

This will give you 10 bams that you can process independently with Dee

[2022-08-01 17:46] kishwarshafin commented on #36
@gevro ,

In that case, can you please put down the full command that you are running here? I just followed the https://github.com/google/deepconsensus/blob/r0.3/docs/quick_start.md to run everything on a VM and everything seems to work correctly.

[2022-08-01 17:49] gevro commented on #36
Sure, here is the command:
[code]

[2022-08-01 17:58] kishwarshafin commented on #36
@gevro , I believe the download didn't happen correctly in this case. Can you please run the following commands and try one more time:
[code]
And verify the output (file size) matches to this:
[code]
And then run:
[code]
This should work.

[2022-08-01 18:10] gevro commented on #36
However, I checked and that downloads the same files I already have. What else could be the issue?

[2022-08-01 18:13] kishwarshafin commented on #36
@gevro ,

did you make sure that the directory you downloaded to didn't contain v0.2 checkpoint from before? Can you please run the instructed commands as a sanity check that the download wasn't the issue? I get the same error as you when I run deepconsensus v0.3.1 with v0.2 models so I am suspecting that is the issue.

[2022-08-01 18:19] gevro commented on #34
Thanks! I will try that. Only suggestion is that I think it is technically more efficient to map all subreads to all ccs with actc, and then to split both the ccs and the subreads_to_ccs.

i.e. that is more efficient than splitting the ccs, and then mapping ALL subreads to each chunk of ccs.

[2022-08-01 19:22] armintoepfer commented on #34
actc can chunk. That's all you need

[2022-08-02 03:14] gevro commented on #34
I'm not sure actc chunking would work for deepconsensus.

If a user has a full (non-chunked) ccs, running actc with chunking would provide the user with the full ccs and actc chunks. But deepconsensus input requires the ccs and the actc to match in terms of their chunk.

[2022-08-03 01:20] gevro commented on #36
I'm still getting the same error. Maybe your docker deepconsensus_0.3.1 is the problem and has the wrong version of deepconsensus packaged inside?

Can you double check using your docker?

If not, how do we fix this issue?

[code]

[2022-08-03 01:45] pichuan commented on #36
@gevro, you are setting max passes in your command. You can’t change this
setting without using a model trained for a larger number of passes.

Our current model only supports max_passes=20.

Remove this flag, and it should work.

On Tue, Aug 2, 2022 at 6:21 PM 'gevro' via deepvariant-rotations <
***@***.***> wrote:

[2022-08-03 02:36] gevro commented on #36
Ok thanks. Is there any possibility to train a model for higher max_passes?

[2022-08-03 03:07] gevro commented on #36
Also, now I'm getting a different error:
[code]

[2022-08-03 03:39] danielecook commented on #34
I just tested this approach, and it works fine.

The main downside to this approach is that the ccs bam is read in its entirety for each shard, but this may be preferable to splitting your ccs bam.

Here is the code responsible for the logic of reading in subread_to_ccs and ccs bams:

https://github.com/google/deepconsensus/blob/r0.3/deepconsensus/preprocess/utils.py#L975-L983

[2022-08-03 03:39] #34 closed

[2022-08-03 03:58] danielecook commented on #36
@gevro what does the distribution of the number of passes look like in your dataset?

We do not expect a large benefit from training a model for more passes. Quality goes up as the number of subread passes increases, and DeepConsensus will not be necessary as the sequence becomes more correct.

[2022-08-03 04:07] gevro commented on #36
Is it possible to connect offline via e-mail so I can explain better?

[2022-08-03 21:27] AndrewCarroll commented on #36
Hi @gevro

In terms of talking about model training possibilities by email, can you send a message to awcarroll@google.com. I can loop in Dan and we can continue discussion from there.

[2022-08-09 14:23] gevro opened #37 "Error: StopIteration"
Hi,
I'm getting this error. What is the cause of this?
Thanks.

singularity run -W /data -B /scratch/projects/bin/deepconsensus/model:/model -B `pwd` /scratch/projects/bin/deepconsensus/deepconsensus_0.3.1.sif deepconsensus run --batch_size=1024 --batch_zmws=100 --cpus 1 --max_passes 20 --subreads_to_ccs=blah.subreads_to_ccs.0018.bam --ccs_bam=blah.ccs.0018.bam --checkpoint=/model/checkpoint --out

[2022-08-10 17:56] danielecook commented on #37
@gevro can you confirm that the `subreads_to_ccs.bam` and `ccs.bam` files have the same corresponding ZMWs?

Is there any output present in `blah.fastq`?

[2022-08-10 20:05] gevro commented on #37
I just confirmed by extracting the zmw hole #'s from each, and they are identical. So that can't be the reason.
And no fastq file was created.

[2022-08-11 17:34] danielecook commented on #37
@gevro is it possible to share data here so we can examine the issue?

[2022-08-11 17:44] gevro commented on #37
Sure. Do you have a dropbox?

[2022-08-11 18:03] danielecook commented on #37
@gevro please email me at my github username @google.com

[2022-09-02 19:54] #37 closed

[2022-09-06 09:46] rainwala opened #38 "question about the permutation invariance in the MSA input to the DeepConsensus model"
Hello,

Thank you for this interesting work. I have a question regarding the input to the model. From what I can tell, you convert subread sequences from a multiple sequence alignment into input tensors (adding additional information as well). What I cannot understand is whether your model is invariant to permutations of the order of  subread sequences in the MSA. When you trained the model, how d

[2022-09-06 13:00] #27 closed

[2022-09-07 03:46] gevro opened #39 "Merging aligned fastq output with original ccs BAM"
Is there a recommended approach / best practices for merging aligned deepconsensus fastq output with the original ccs BAM file, so that aligned deepconsensus reads are re-associated with the tags from the original ccs BAM (eg, ec, np, sn, zm, etc tags)?

(This issue could also be fixed by making deepconsensus output as BAM instead of fastq. )

[2022-09-07 06:08] rainwala commented on #38
Actually Andrew ansered this for me as follows:

"We experimented with inputs that randomized the subread order as well as those which preserved the order of subreads to be ordered chronologically by the time that they were generated. In practice, we observed a noticeable, though not enormous, improvement in accuracy when the chronological information of when subreads are generated was preserved.

[2022-09-07 06:08] #38 closed

[2022-09-07 15:28] danielecook commented on #39
One simple approach here would be to iterate through the FASTQ and the original BAM using pysam.

You can substitute the sequence from the FASTQ, but the PW and IPD tags will not necessarily align, because DeepConsensus can result in sequence lengths that differ from the PW/IPD lengths.

[2022-09-07 15:41] gevro commented on #39
Ok thanks. I may try GATK MergeBamAlignment too.

[2022-09-07 15:41] #39 closed

[2022-09-07 23:58] danielecook commented on #36
I believe we have resolved this issue. If there are any further questions please reach out.

[2022-09-07 23:58] #36 closed

[2022-09-09 02:04] ymwang233 opened #40 "download params.json but Connection refused."
When I download the model by command`gsutil cp -r gs://brain-genomics-public/research/deepconsensus/models/v0.3/model_checkpoint/params.json` , I get the following error. How should I solve it, is there any other way to download params.json file？
`
INFO 0909 10:04:28.460050 retry_util.py] Retrying request, attempt #20...
INFO 0909 10:05:00.531276 retry_util.py] Retrying request, attempt #21...
INF

[2022-09-09 02:56] ymwang233 commented on #40
The reason may be that I am a Chinese user and cannot access Google Cloud. I solved the problem after switching to a Hong Kong server.

[2022-09-09 02:58] ymwang233 commented on #40
I want to know which path should I put this model file so that it can be called to

[2022-09-09 03:23] ymwang233 commented on #40
I solved the problem when I put the model in python3.8/site-packages/tensorflow/python/lib/

[2022-09-09 03:23] #40 closed

[2022-09-09 20:30] gevro opened #41 "Strand of Fastq output"
Hi,
Deepconsensus takes as one of its input a CCS BAM file.

When the CCS BAM file is already aligned to the genome, does deepconsensus reverse complement the sequence for reads that align to the reverse strand of the genome, such that the output FASTQ of that molecule will be in the original unaligned orientation?

From what I can see, I think this is not happening, which is ok, but just wanted t

[2022-09-10 23:45] gevro opened #42 "Missing about 30% of ZMWs in output"
Hi,
I'm running the below and found that ~30% of ZMWs are missing from the deepconsensus FASTQ output, even though I see them in the input CCS bam and input subreads BAM:
[code]

Is this expected behavior? Is there any way to see in the logs why many ZMWs are not in the output?

PS: I don't think this is due to deepconsensus output reads having lower quality than the threshold of Q20, because I'm

[2022-09-11 01:34] gevro opened #43 "actc and kinetic data orientation"
Hi, actc is used to align subreads to ccs, but does actc reverse the orientation of kinetic (ip/pw) data in the BAM file it outputs? Or does Deepconsensus do this? I'm assuming either actc or Deepconsensus would have to do this to ensure that the kinetic data is in the correct orientation with the subreadstoccs alignment.

Thanks.

[2022-09-11 05:03] armintoepfer commented on #43
Looking at two input subreads and their alignments or reading the PacBio BAM spec that you are well aware of, you'll figure out no aligner will change the orientation of tags.

[2022-09-11 15:49] danielecook commented on #42
By default, DeepConsensus filters reads at >=Q20.

Try running using `--min_quality=0`.

[2022-09-14 11:45] ay-amityadav opened #44 "deepconsensus on metagenomic data"
Hi,

Is it ok to run deepconsensus on HiFi metagenomic data? I can see that it has been tested on human genomic data.

Many thanks

[2022-09-14 20:19] AndrewCarroll commented on #44
Hi @ay-amityadav,

Thank you for your question. DeepConsensus should work for metagenomic data. We've tested DeepConsensus on E.coli and several plant species. For E.coli we see higher accuracy as measured against the known sequence of the reference strain. For plant species, we see improvements to assembly contiguity and correctness.

As a result of those investigations, we believe DeepConsensus

[2022-09-15 03:44] ay-amityadav commented on #44
Thank you very much!

[2022-09-15 03:58] #44 closed

[2022-09-20 11:15] michaelabrouk opened #45 "no subreads available"
Hi,

I am working with sequencing output coming from Sequel IIe meaning that I only have the ccs.bam files available and not the subreads.bam.
Is DeepConsensus can work without the alignment of subreads to ccs using actc in the preliminary step?

Thanks

[2022-09-20 11:17] armintoepfer commented on #45
DeepConsensus requires subreads, which are not available when using Sequel IIe HiFi output.

[2022-09-20 11:21] michaelabrouk commented on #45
Thank you for your answer.

[2022-09-20 11:21] #45 closed

[2022-09-21 05:53] pichuan commented on #43
Hi @gevro , I'm closing this issue. If you have more questions, please feel free to open another issue or reopen. Thank you!

[2022-09-21 05:53] #43 closed

[2022-09-21 05:54] pichuan commented on #42
Hi @gevro , hopefully @danielecook 's answer resolved your issue.
I'm closing this. If you have more questions, please feel free to open another issue or reopen. Thank you!

[2022-09-21 05:54] #42 closed

[2022-09-21 18:10] danielecook commented on #41
The CCS BAM file is expected to be unaligned. I don't think we have looked at using aligned CCS BAMs before. Presumably, the subread_to_ccs.bam would also be derived from an aligned ccs.bam, in which case it might work and reverse-complement the sequences where appropriate, but I would advise performing alignment to a reference after DeepConsensus processing has taken place.

[2022-09-21 18:14] gevro commented on #41
Ok thanks. I am now using picard RevertSam to transform the aligned CCS BAM to unaligned CCS BAM.

[2022-09-21 18:14] #41 closed

[2022-10-11 20:24] gevro opened #47 "Error: ModuleNotFoundError: No module named 'pandas._libs.interval'"
Hi,
Getting this error with new deepconsensus 1.0.0. I'm running the exact same command that worked for the previous deepconsensus version. I'm running from the docker.

[code]

[2022-10-11 20:36] danielecook commented on #47
@gevro thank you for reporting. Can you share the command you are running?

[2022-10-11 20:39] gevro commented on #47
[code]

[2022-10-11 20:57] danielecook commented on #47
@gevro please try running singularity with a clean environment. I think passing `--cleanenv` should work.

[code]

For whatever reason, it appears you are using a shared version of the python library from your machine/HPC:

[code]

And this appears to be breaking things.

[2022-10-11 21:15] gevro commented on #47
Now I'm getting this error:
[code]

[2022-10-11 21:32] danielecook commented on #47
We removed the `--max_passes` flag in this release because we have not provided any models with alternative numbers of passes. Please try removing this flag:

[code]

[2022-10-11 21:39] gevro commented on #47
Ok working now. Thanks.

[2022-10-11 21:39] #47 closed

[2022-11-10 20:00] mjg0 opened #48 "Running deepconsensus results in "free(): invalid pointer" error"
I installed `deepconsensus` via `pip` in a virtualenv like this:

[code]

I used `pyyaml==5.4.1` since `tf-models-official 2.10.0` requires `pyyaml<6.0,>=5.1`. I'm using Python 3.8.2.

When I run `deepconsensus`, even just for the help message, it fails--`deepconsensus -h` resulted in this error message:

[code]

Is there something different I should have done when installing?

[2022-11-11 20:12] akolesnikov commented on #48
DeepConsensus PIP install all dependencies including TensorFlow. Could you please try in the clean environment without preinstalled TF?

[2022-11-11 21:42] mjg0 commented on #48
This was in a clean virtualenv, and the Python that I used doesn't have TensorFlow--it was installed in the virtualenv by the same `pip` command that installed deepconsensus:

[code]

[2022-11-11 21:57] akolesnikov commented on #48
According to the stack trace the error is raised inside C++ STD. The only suggestion I have is to try it in the clean environment. One way could be to try the [Quick Start](https://github.com/google/deepconsensus/blob/r1.0/docs/quick_start.md) on a Cloud Virtual Machine.

[2022-11-14 22:38] mjg0 commented on #48
The fact that the backtrace went into `libc.so.6` and `libstdc++.so.6` is kind of a red herring, no? The ultimate error was in `free()`, but it would take a lot of convincing to make me believe that was due to a problem in `free()` itself rather than in the calling code, especially considering that nobody has reported similar problems with the hundreds of other pieces of software we've built with

[2022-11-17 10:10] rosspdu opened #49 "Missing majority of ZMWs after running lima to search for adapters"
Hi, I'm not sure if you can help me on this but just want to raise this issue I've encountered after filtering adapters with lima. Not entirely sure why lima filtered out majority of the 'deepconsensus hifi reads'. Below is the script for the deepconsensus and lima:

# DC
cmd4="module purge && module load deepconsensus/0.3.1 && deepconsensus run --checkpoint=/cluster/home/dc_model_0.3/checkpoint -

[2022-11-17 20:56] pichuan commented on #48
Thanks for reporting the error. @mjg0

I just tried `pip install 'deepconsensus[cpu]==1.0.0'` in virtualenv.

I found that pysam has newer versions which broke our pip in different ways from what you reported. So I'm going to continue my test but I'll need to change `pysam>=0.19.0` to `pysam==0.19.0` first. I'll report back later.

[2022-11-17 21:38] pichuan commented on #48
Hi @mjg0 ,
While I wasn't able to reproduce the exact errors you've originally reported, I do think that our pip setup isn't ideal (and is currently broken) -- we should have more carefully pinned the versions of software we used!

In my test to pip install in virtualenv, I noticed that I needed to at least pin the following:

[code]

With this local change, I did `pip install .[cpu]`.

With that,

[2022-11-18 08:10] pichuan commented on #48
OK, one more update. Here is what my requirements.txt currently looks like.
Not finalize yet because I'm still testing. But sharing in advance in case @mjg0 you want to test out on your end:

[code]

(and setup.py  should also pin:
[code]
)

[2022-11-18 23:03] mjg0 commented on #48
I wasn't able to install with Python 3.10.8 using those pinned dependency versions because "`pandas 1.5.1 depends on numpy>=1.21.0; python_version >= "3.10"`," but succeeded with Python 3.8.2. Alas, though, the same `free(): invalid pointer` error persists when I run `deepconsensus` in the new virtualenv. I still just installed with `pip`, would it make a difference if I [installed from source](ht

[2022-11-18 23:11] pichuan commented on #48
@mjg0 I'm testing with Python 3.8.

[code]

You mentioned "pandas 1.5.1 depends on numpy>=1.21.0; python_version >= "3.10"" - that's interesting. I didn't seem to have any issues with using `pandas==1.5.1` (didn't see any warning or error messages) but I can take a closer look.

You mentioned:
"`free(): invalid pointer` error persists when I run `deepconsensus` in the new virtualenv. " --> This pa

[2022-11-18 23:30] pichuan commented on #48
# My current steps that work for me

Created a machine:

`gcloud compute instances create "${USER}-cpu" --scopes "compute-rw,storage-full,cloud-platform" --image-family "ubuntu-2004-lts" --image-project "ubuntu-os-cloud" --machine-type "custom-64-131072" --boot-disk-size "300" --zone "us-west2-b" --min-cpu-platform "Intel Skylake"`

ssh into the machine:

[code]

On the machine, install virtualenv

[2022-11-18 23:57] pichuan commented on #48
Ah, @mjg0 to your point about "pandas 1.5.1 depends on numpy>=1.21.0; python_version >= "3.10"" -- I think I can parse it now. I believe this means if Python version is 3.10, it will require numpy>=1.21.0?

That reminded me - maybe we should update our own Python version to something like:
[code]

And, I have not actually tested all the versions in this range specified. I wonder whether we should

[2022-11-28 23:55] pichuan commented on #48
Hi @mjg0 ,
we've updated our GitHub page and PyPI. The latest version on PyPI is:
[code]

Please try that instead, and note that even though we didn't clearly limit the Python version for now, we've only tested with Python 3.8. We'll try to be better with pip requirements and setup in the future. If you have more suggestions (or some best practices you've seen on your side), please don't hesitate

[2022-11-30 18:30] mjg0 commented on #48
@pichuan it now works without a hitch:

[code]

The GPU version works as well, and solving the linking issue with `libcudart.so.11.0` is easy enough.

Before trying that, I got Charliecloud containers set up with deepconsensus 1.0.0 for CPUs and GPUs; both seemed to work, but I didn't run any actual workloads and haven't heard anything back from the user who requested them--maybe no news is good n